/* Reset default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* Header */
header {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),url("../Images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.whiteText {
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

header div{
    position: relative;
    width: 20%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    text-align: center;
    font-family: Quicksand;
    font-size: 2em;
    word-wrap: none;
}

header p {
    margin-top: 30px;
    text-align: center;
}


/* ABOUT */
.aboutContainer {
    width: 50%;
    margin: 5% auto;
    text-align: center;
    color: #333;
}

.aboutContainer h1 {
    font-family: Quicksand;
    margin: 15px;
}

.profile-pic {
    width: 200px;
    height: 250px;
    margin: auto;
}

.profile-pic img {
    border-radius: 50%;
}

.proclamations {
    background-color: rgb(218, 218, 218);
    margin: 20px 15px;
}

.proclamations h3 {
    padding: 15px;
}

.proclamContent {
    display: flex;
    margin: auto;
    padding: 5px 0 15px 0;
    width: 80%;
    justify-content: space-between;
    text-align: center;
}

.proclamContent i {
    font-size: 30px;
    padding: 5px;
}


/* JOB SPECIFIC */
.container {
    display: flex;
    padding: 2%;
    justify-content: space-between;
}

.containerSkill {
    width: 80%;
    text-align: center;
    padding: 20px;
}

.iconBuble {
    margin: 20px auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.iconBuble i {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 30px;
    color: white;
}

/* EXPERIENCE */
.technologies {
    font-size: 50px;
}

.technologies i {
    padding: 20px;
}

/* CV */ 
.cv {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),url("../Images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    color: white;
}


.banner {
    position: relative;
    width: auto;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}

.banner h1 {
    margin: 20px;
}

.cv a {
    position: relative;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.cv a:hover {
    color: #333;
    background-color: white;
}

/* PROJECTS */
.projects {
    width: 90%;
    margin: auto;
    display: grid;
    padding-top: 50px;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}